<div class="field row">
  <%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

    <ul>
      <% @player.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>

<div class="field row llabel show-for-touch">
  <span class="postfix radius">Name</span>
  <%= f.text_field :name %>
</div>
<br />

<div class="field row llabel show-for-touch">
  <span class="postfix radius">email</span>
  <%= f.text_field :email %>
</div>
<br />

<div class="field row llabel show-for-touch">
  <span class="postfix radius">Password</span>
  <%= f.password_field :password %>
</div>
<br />

<div class="field row llabel show-for-touch">
  <span class="postfix radius">Year</span>
  <%= select(:player, :year, ["9", "10", "11", "12"], {}, {:size => "4"}) %>
</div>
<br />

<div class="field row llabel show-for-touch">
  <span class="postfix radius">Photo</span>  
  <%= f.file_field :photo, {:accept => "image/*", :capture=> "camera"} %>
</div>
<br />

<div class="field row llabel hide-for-touch">
  You must view this on a smartphone to take the player's picture! 
</div>
<br />

<div class="actions show-for-touch">
  <%= submit_tag("Create Spoon Warrior") %>
</div>

<% end %>
