<div class="row">
  <div class="large-5 columns panel tab" >
    <div class="row tab_row">
      <%= image_tag 'spoon-assassin.png', {:height => 200, :width => 200}%>
    </div>    
    <div class="row tab_row">
      <%= @player.name %>
    </div>    
    <div class="row tab_row">
      <%= @player.year %>
    </div>    
    <div class="row tab_row">
      <%= @player.secret %>
    </div>      
  </div>
  <div class="large-2 columns"></div>
    <div class="large-5 columns panel tab" >
    <div class="row tab_row">
      <%= image_tag 'spoon-assassin.png', {:height => 200, :width => 200}%>
    </div>    
    <div class="row tab_row">
      <%= @player.name %>
    </div>    
    <div class="row tab_row">
      <%= @player.year %>
    </div>    
    <div class="row tab_row">
      <%= @player.secret %>
    </div>      
  </div>
</div>
<div class="row">
  <div class="large-7 columns tab">
    <%# @game.tags.each do |tag| %>
    <div class="row tab_row">
      <%# tag.report %>
    </div>
  </div>
  <div class="large-4 offset-1 columns tab ">
    <div class="row tab_row">
      <%# @game.assassin %>
    </div>
    <div class="row tab_row">
      <%# @game.survivor %>
    </div>
    <div class="row tab_row">
      <%# @game.other_award %>
    </div>
  </div>
</div>
