<style type="text/css">
img {
 -webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
</style>

<div class="row">
  <div class="large-5 columns panel tab" >
    <div class="row tab_row">
      You</div>
    <div class="row tab_row">
      <%= image_tag @player.photo, {:height => 200, :width => 200, :style => "display: block;"} %>
    </div>    
    <div class="row tab_row">
      <%= @player.name %>
    </div>    
    <div class="row tab_row">
      <%= @player.year %>
    </div>    
    <div class="row tab_row">
      <%= @player.secret %>
    </div>      
  </div>
  <div class="large-2 columns"></div>
    <div class="large-5 columns panel tab" >
    <div class="row tab_row">
      Him</div>
    <div class="row tab_row">
      <%# image_tag @player.photo, {:height => 200, :width => 200}%>
      <%= image_tag @player.target.photo, {:height => 200, :width => 200}%>      
    </div>    
    <div class="row tab_row">
      <%# @player.name %>
      <%= @player.target.name %>      
    </div>    
    <div class="row tab_row">
      <%# @player.year %>
      <%= @player.target.year %>      
    </div>    
    <div class="row tab_row">
      <%# @player.secret %>
      <%# Form %>
    </div>      
  </div>
</div>

<div class="row">

  <div class="large-6 columns tab">
    <% ["10:15 Matthew Haney tagged Frank Morton", "12:45 Sean Morton tagged Quincy Gholston", "1:42 Skyler Morris tagged Michael Guenther", "8:34 Jackson Fox tagged Charlie Marks"].each do |tag| %>
    <%# @player.game.tags.each do |tag| %>
    <div class="row stat_row">
      <%= tag.to_s %>
    </div>
    <% end %>
  </div>

  <div class="large-4 offset-1 columns stats ">
    <div class="row stat_row">
      Most tags: Matthew Haney
      <%# @player.game.assassin %>
    </div>
    <div class="row stat_row">
      Victor: Sean Whitley
      <%# @player.game.survivor %>
    </div>
    <div class="row stat_row">
      Other Award: Mr. Timme
      <%# @player.game.other_award %>
    </div>
  </div>
</div>
