<style type="text/css">
img {
 -webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}
</style>
<% if Player.find(session[:user_id]).tagged %>
<div class="row container">
  <div class="small-6 large-12 columns tab panel" style="background-color: rgb(165, 42, 42);">
    <h2 style="color: white;">You have been tagged!</h2>
    <p style="color: white;">Unfortunately, this means you are out of the game.  You can keep up with other players at the <%= link_to "live feed page", '/feed' %>.</p>
  </div>
</div>
<% else %>
<div class="row">
  <div class="large-5 columns panel tab" style="background-color: rgb(165, 42, 42);">
    <div class="row tab_row">
      You</div><br />
    <div class="row tab_row">
      <%= image_tag @player.photo, {:height => 200, :width => 200, :style => "display: block;"} %>
    </div><br />
    <div class="row tab_row">
      <%= @player.name %>
    </div>    
    <div class="row tab_row">
      Year: <%= @player.year %>
    </div>    
    <div class="row tab_row">
      Secret Word: <%= @player.secret %>
    </div>      
  </div>
  <div class="large-5 columns panel tab" style="background-color: rgb(165, 42, 42);">
    <% if @player.target == @player %>
    <div class="row tab_row">
      <h2 style="color: white;">You are the survivor!</h2>
    </div>
    <div class="row tab_row">
      
    </div>
    <% elsif @player.target %>
    <div class="row tab_row">
      Him</div><br />
    <div class="row tab_row">
      <%= image_tag @player.target.photo, {:height => 200, :width => 200}%>      
    </div><br />
    <div class="row tab_row">
      <%= @player.target.name %>      
    </div>    
    <div class="row tab_row">
      Year: <%= @player.target.year %>      
    </div>    
    <div class="row">
      <div class="small-4 large-8 columns">
	<%= form_tag(action: "tag") do %>
	<%= text_field("player", "secret", :size => 10, :placeholder => "His Secret Word", :value => "", :autocapitalize => "off")%>
	<%= submit_tag("Submit") %>
	<% end %>
	<span class="flash"><%= flash[:tag] %></span>
      </div>
    </div>
  </div>
  <% else %>
  <div class="large-2 columns">
    <div class="row tab_row" style="background-color: brown; color: white;">
      You currently have no target.
    </div>
  </div>
  <% end %>
</div>

<% end %>
<div class="row">
  <% if @player.game %>
  <div class="large-4 offset-1 columns stats ">
    <div class="row stat_row">
      Most tags: <%= @player.game.most_tags.name %> (<%= @player.game.most_tags.tags.count %>)
    </div>
    <div class="row stat_row">
      Victor: <%= @player.game.survivor %>
    </div>
  </div>
  <br />
  <% else %>
  <div class="large-4 offset-1 columns stats ">
    <div class="row stat_row">
      You are not in a game yet!
    </div>
  </div>
  <br />
  <% end %>
  <div class="large-4 columns stats">
  </div>
  <div class="large-4 offset-1 columns stats">
    <div class="row stat_row">
      <% if @player.tags == [] %>
      You have not tagged anyone!
      <% else %>
      <h4 style="color: white;">Tags</h4>
      <% @player.tags.each do |t| %>
      <div class="large-8 offset-1 columns stats" style="font-size: 0.7em;">
	<%= t.to_s %>
      </div>
      <br />
      <% end %>
      <% end %>
      <br />
    </div>
  </div>
</div>
